.send-buy__page
  = render "shared/mypage"
  .send-buy__form
    .send-buy__form.form__title
      = icon("fas fa-shopping-cart", class: "shopping-icon")
      断捨離を編集する
    = render "/shared/dumpform"