.mypage
  = render "shared/mypage"
  .mypage__main-area
    .mypage__main-area__title
      = "#{@user.name}のMinimum"
    .mypage__main-area__discard
      今までの断捨離：15
    .mypage__main-area__like
      今までのいいね：30
    .mypage__main-area__buy
      今までの購入品：10
    .mypage__main-area__hate
      今までのだめね：18