.top-image
  .top-image__title
    Minimum
  .top-image__sub-title
    それって、本当に必要なの？

.menu-bar
  .menu-bar__item.discard-list
    『断捨離』List
  .menu-bar__item.buy-list
    『購入品』List
  .menu-bar__item.register
    Sign up
  .menu-bar__item.login
    Log in