.top-image
  .top-image__title
    Minimum
  .top-image__sub-title
    それって、本当に必要なの？

.menu-bar
  .menu-bar__item.discard-list
    『断捨離』List
  %a{href: buys_path, class: "menu-bar__item buy-list"}
    『購入品』List
  - if user_signed_in?
    = link_to "My page", user_path(:id), class: "menu-bar__item mypage"
    = link_to "Log out", destroy_user_session_path, method: :delete, class: "menu-bar__item logout"
  - else
    = link_to "Sign up", new_user_registration_path, class: "menu-bar__item signup"
    = link_to "Log in", new_user_session_path, class: "menu-bar__item login"