.mypage__side-area
  .mypage__side-area.my-discard
    MyList『断捨離』
  .mypage__side-area.send-discard
    Send『断捨離』
  .mypage__side-area.my-buy
    MyList『購入品』
  = link_to "Sned『購入品』", new_buy_path, class: "mypage__side-area send-buy"
  .mypage__side-area.setting-user
    Edit account
  .mypage__side-area.logout-user
    Log out
  .mypage__side-area.delete-user
    Leave Minimum