.mypage__side-area
  .mypage__side-area__title
    My menu
  .mypage__side-area__item.my-discard
    MyList『断捨離』
  .mypage__side-area__item.send-discard
    Send『断捨離』
  .mypage__side-area__item.my-buy
    MyList『購入品』
  .mypage__side-area__item.send-buy
    = link_to "Send『購入品』", new_buy_path
  .mypage__side-area__item.setting-user
    Edit account
  .mypage__side-area__item.logout-user
    Log out
  .mypage__side-area__item.delete-user
    Leave Minimum