.top-image {
  background-image: url("top-image.jpg");
  color: white;
  height: 250px;
  text-align: center;
}

.top-image__title {
  font-size: 80px;
  height: 150px;
  line-height: 200px;
  font-family: 'Apple Chancery',sans-serif;
}

.top-image__sub-title {
  font-size: 20px;
}