.send-buy__page
  = render "shared/mypage"
  .send-buy__form
    .buys-function__title
      投稿が完了しました
    .buys-function__subtitle
      = link_to "投稿一覧に戻る", buys_path, class: "move-index__btn"

      docker-hub__test