.wrapper
  = render "shared/header"

  .item-area
    .item-area__item.title-box
      みんなの購入品はどんなもの？
    .item-area__item.search-box
      .item-area__item.search-box__tag
        タグ検索
      .item-area__item.search-box__free
        フリーワード検索