// Place all the styles related to the buys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin form-item {
  width: 402px;
  margin: 0 auto;
  padding: 10px 16px 8px;
  margin-bottom: 30px;
  border-radius: 5px;
}

@mixin list {
  width: 120px;
  display: none;
  position: absolute;
  background-color: black;
  border: 0.3px solid white;
}

@mixin list-li {
  display: block;
  line-height: 45px;
  font-size: 14px;
  text-align: center;
  border-bottom: 0.3px solid white;
}

@mixin list-a {
  display: block;
  text-decoration: none;
  color: white;
}

.item-area {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  font-size: 20px;
  text-align: center;

  &__item {
    line-height: 50px;
    height: 50px;
    margin: 0 20px;
  }

  &__item.search-box {
    display: flex;

    &__tag, &__free {
      width: 300px;
    }
  }
}

#tag_id {
  width: 247px;
  height: 43px;
  border-radius: 5px;
  padding: 5px 8px 4px;
}

.search-input {
  border-radius: 5px;
  padding: 5px 8px 4px;
}

.search-btn {
  border-radius: 5px;
}

.search-btn:hover {
  background-color: $hover-color;
}

.buy {
  display: flex;
  flex-wrap: wrap;

  &__item {
    height: 500px;
    width: calc(100vw / 3);
    background-color: rgb(42, 57, 83);
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &-top {
      display: flex;
      justify-content: space-between;

      .item-title {
        margin-left: 10px;
        font-size: 20px;
      }

      .item-bar {
        margin-right: 10px;
        font-size: 30px;
        position: relative;

        ul.more-list {
          @include list;
          top: 25px;
          right: -10px;
          

          li {
            @include list-li;

            a {
              @include list-a;
            }

            &:hover {
              background-color: gray;
            }
          }
        }

        &:hover ul.more-list {
          display: block;
        }
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      font-size: 20px;

      .item-icon {
        margin-left: 10px;

        &__hate {
          margin-right: 15px;
        }
      }

      .item-writer {
        margin-right: 10px;
      }
    }
  }
}

.buy-show {
  display: flex;
  justify-content: center;
  font-size: 20px;

  &__image {
    height: 500px;
    width: 426px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgb(42, 57, 83);

    &-bar {
      width: 30px;
      margin-left: 20px;
      font-size: 40px;
      position: relative;

      ul.more-list {
        @include list;
        top: 45px;
        left: -20px;

        li {
          @include list-li;

          a {
            @include list-a;
          }

          &:hover {
            background-color: gray;
          }
        }
      }

      &:hover ul.more-list {
        display: block;
      }
    }

    &-icon {
      display: flex;
      margin-left: 20px;

      &__comment {
        margin-left: 20px;
      }
    }
  }

  &__list {
    width: 450px;
    margin-top: 50px;
    margin-left: 20px;
  }
}

th {
  width: 130px;
  background-color: $th-color;
  border-bottom: solid 0.3px gray;
}

td {
  width: 320px;
  background-color: $td-color;
  padding-left: 15px;
  border-bottom: solid 0.3px gray;
}

.buy-comment {
  padding-bottom: 40px;

  &__title {
    width: 896px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: $th-color;
    font-size: 20px;
    text-align: center;
  }

  &__list {
    width: 896px;
    margin: 0 auto;
    display: flex;
    background-color: $td-color;
    font-size: 20px;
    border-bottom: solid 0.3px gray;
  }
}

.send-buy__page {
  display: flex;
}

.send-buy__form {
  margin: 0 auto;

  .form__title {
    @include menu-title;
  }
}

.send__buy {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 20px;

  &-goods {
    height: 40px;
    @include form-item;
  }

  &-price {
    height: 40px;
    @include form-item;
  }

  &-image {
    height: 62px;
    width: 432px;
    margin: 0 auto;
    margin-bottom: 30px;

    &__icon {
      font-size: 60px;
    }

    &__icon:hover {
      color: $hover-color;
    }

    &__field {
      display: none;
    }
  }

  &-description {
    @include form-item;
  }

  &-submit {
    height: 62px;
    width: 432px;
    margin: 0 auto;
    padding: 10px 16px 8px;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  &-submit:hover {
    background-color: $hover-color;
  }
}

#buy_buy_tags_attributes_0_tag_id {
  height: 62px;
  width: 432px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.buys-function__title {
  @include menu-title;
}

.buys-function__subtitle {
  height: 450px;
  font-size: 30px;
  text-align: center;
  color: white;
}