$th-color: rgb(43, 53, 70);
$td-color: rgb(69, 77, 90);
$hover-color: cornflowerblue;

@import "reset";
@import "buys";
@import "modules/header";
@import "modules/mypage";
@import "users";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  color: white;
  background-color: black;
}