$th-color: rgb(43, 53, 70);
$td-color: rgb(69, 77, 90);
$hover-color: cornflowerblue;

@mixin menu-title {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  background-color: $th-color;
}

@import "reset";
@import "buys";
@import "modules/header";
@import "modules/mypage";
@import "users";
@import "comments";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  color: white;
  background-color: black;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;

  &:hover {
    transform: scale(1.3);
	  transition-duration: 0.3s;
  }
}